html, body, div {
	height: 100vh;
}

.left {
	background-color: #4A90E2;

}

.middle {
	background-color: #50E3C2;
}

.right .top {
	background-color: #B8E986;
	height: 70vh
}

.footer {
	background-color: #D0021B;
	color: #FFFFFF;
	height: 30vh;
}